page-eventos {

}
#slideEventos{
    height: 240px;
    color: #fff;
    width:100%;
}
.news ion-col{
    height: 120px
}

ion-navbar .toolbar-background{
  background-color: black;
}

.button-inner{
    color:white;
}