page-eventos {
    font-family: "antic-slab";

    #slideEventos{
        height: 240px;
        color: #fff;
        width:100%;
    }
    .news ion-col{
        height: 120px
    }

    ion-navbar .toolbar-background{
    background-color: black;
    }

    ion-navbar .button-inner{
        color:white;
    }

    .news .col{
        border:3px solid white;
    }

    .titulo{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 5px 0;
        width: 100%;
        text-align: center;
        color: #fff ;
        background-color: rgba(0, 0, 0, 0.7);
        height: 45px;
        display: grid;
        align-items: center;
        align-content: center !important;
    }

    #categories.hide{
        display: none;
    }

    #categories{
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(153, 153, 153, 0.61);
        font-size: 120%;
    }

    #categories .col{
        padding: 3px;
    }

    #categories .col button{
        background-color: #3c3c3c;
        color: white;
        height:40px; 
        width: 100%;
        font-size: 11pt;
    }

    .tapped.accionsocial{background-color: color($colors, accionsocial) !important;}
    .tapped.cine{background-color: color($colors, cine) !important;}
    .tapped.musica{background-color: color($colors, musica) !important;}
    .tapped.espectaculos{background-color: color($colors,espectaculos) !important;}
    .tapped.arteyliteratura{background-color: color($colors,arteyliteratura) !important;}
    .tapped.exposiciones{background-color: color($colors,exposiciones) !important;}
    .tapped.ocio{background-color: color($colors, ocio) !important;}
    .tapped.charlas-y-conferencias{background-color: color($colors, charlas-y-conferencias) !important;}
    .tapped.cursos-y-talleres{background-color: color($colors, cursos-y-talleres) !important;}
    .tapped.universidad{background-color: color($colors, universidad) !important;}

}