page-usuario {
    font-family: "antic-slab";

     .title-md{
        margin-left:34px !important;
    }

    .category_name.accionsocial{background-color: color($colors, accionsocial);}
    .category_name.cine{background-color: color($colors, cine);}
    .category_name.musica{background-color: color($colors, musica);}
    .category_name.espectaculos{background-color: color($colors,espectaculos);}
    .category_name.arteyliteratura{background-color: color($colors,arteyliteratura);}
    .category_name.exposiciones{background-color: color($colors,exposiciones);}
    .category_name.ocio{background-color: color($colors, ocio);}
    .category_name.charlas-y-conferencias{background-color: color($colors, charlas-y-conferencias);}
    .category_name.cursos-y-talleres{background-color: color($colors, cursos-y-talleres);}
    .category_name.universidad{background-color: color($colors, universidad);}

    .category_name{
        opacity:0.5;
        color:white;
    }

    .favcat ion-icon{
        opacity:0.5;
    }

    .category_name.category_followed,.favcat ion-icon.category_followed{
        opacity:1 !important;
    }

    .cat_accionsocial{
        color: #9c4242;
        //border-right: 4px solid #000;
    }
    .cat_cine, .cat_musica, .cat_espectaculos, .cat_arte_y_literatura, .cat_exposiciones, .cat_ocio{
        color: #2e606b;
        //border-right: 4px solid #000;
    }
    .cat_charlas_y_conferencias, .cat_cursos_y_talleres{
        color: #929b8a  ;
        //border-right: 4px solid #000;
    }
    .cat_entrevistas{
        color: #b99095;
        //border-right: 4px solid #000;
    }
    .userImage{
        position: absolute;
        left: 30%;
        top: 0
    }
    .favoritos{
        position: absolute;
        left: 45%;
        top: 0
    }

    ion-card, ion-card-content{
        margin: 0 !important;
        padding: 0 !important;
    }
}