page-usuario {

 button.item_accion-social{
        background-color: #9c4242;
        //border-right: 4px solid #000;
        color: #fff;

    }
    button.item_cine, button.item_musica, button.item_espectaculos, button.item_arte_y_literatura, button.item_exposiciones, button.item_ocio{
        background-color: #2e606b;
        color: #fff;
        //border-right: 4px solid #000;
    }
    button.item_charlas_y_conferencias, button.item_cursos_y_talleres{
        background-color: #929b8a  ;
        color: #fff;
        //border-right: 4px solid #000;
    }
    button.item_entrevistas{
        color: #fff;
        background-color: #b99095;
        //border-right: 4px solid #000;
    }

    .cat_accionsocial{
        color: #9c4242;
        //border-right: 4px solid #000;
    }
    .cat_cine, .cat_musica, .cat_espectaculos, .cat_arte_y_literatura, .cat_exposiciones, .cat_ocio{
        color: #2e606b;
        //border-right: 4px solid #000;
    }
    .cat_charlas_y_conferencias, .cat_cursos_y_talleres{
        color: #929b8a  ;
        //border-right: 4px solid #000;
    }
    .cat_entrevistas{
        color: #b99095;
        //border-right: 4px solid #000;
    }
    .userImage{
        position: absolute;
        left: 30%;
        top: 0
    }
    .favoritos{
        position: absolute;
        left: 45%;
        top: 0
    }
}