<!--
  Generated template for the Usuario page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>
  <ion-navbar>
    <ion-title>
      <img src="assets/img/logofooter2.png" height="80px">
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="cerrarSesion()">
          <ion-icon name="exit"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list no-padding no-margin>
          <ion-item>
            <p> Notificaciones
              <ion-icon name="alert"></ion-icon>
              <ion-icon [name]="flechaNot" tappable (click)="openNoti()" float-right class="openTabs"></ion-icon>
            </p>
            <p *ngIf="openNot && eventNot==0">Sin proximos eventos.</p>
            <p *ngIf="openNot && eventNot>0">Proximos eventos : {{eventNot}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-wrap>
        <ion-list no-padding no-margin>
          <ion-item no-lines>
            <ion-avatar item-left>
            <ion-icon small name="ios-brush" tappable (click)="editImagen()" float-right class="openTabs"></ion-icon>
              <ion-badge item-end></ion-badge>
              <img [src]="base64Image" *ngIf="base64Image" /> 
              <img src="https://randomuser.me/api/portraits/lego/5.jpg" *ngIf="!base64Image" />
            </ion-avatar>
            <h2>Favoritos</h2>
            <p>Eventos : {{listEvent?.length}}</p>
            <p>Categorias : {{listCategory?.length}}</p>
          </ion-item>
          <ion-item text-center no-padding no-margin>
            <p>
              <ion-icon [ngClass]="'cat_cine'" name="heart"></ion-icon>
              <ion-icon [ngClass]="'cat_musica'" name="heart"></ion-icon>
              <!--<ion-icon [ngClass]="'cat_espectaculos'" name="heart"></ion-icon>
            <ion-icon [ngClass]="'cat_arte_y_literatura'" name="heart"></ion-icon>
            <ion-icon [ngClass]="'cat_exposiciones'" name="heart"></ion-icon>-->
              <ion-icon name="heart" style="color:#ccc"></ion-icon>
              <ion-icon name="heart" style="color:#ccc"></ion-icon>
              <ion-icon name="heart" style="color:#ccc"></ion-icon>
              <ion-icon [ngClass]="'cat_ocio'" name="heart"></ion-icon>
              <ion-icon [ngClass]="'cat_accion_social'" name="heart"></ion-icon>
              <ion-icon [ngClass]="'cat_vida_universitaria'" name="heart"></ion-icon>
              <ion-icon [ngClass]="'cat_cursos_y_talleres'" name="heart"></ion-icon>
              <ion-icon [ngClass]="'cat_charlas_y_conferencias'" name="heart"></ion-icon>
            </p>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            Categorias
          </ion-list-header>
          <ion-item-group>
            <button [ngClass]="'item_cine'" full icon-right ion-item margin-vertical (press)="openNoti()" (click)="openCat('cine')" >CINE <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='cine'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>

            <button [ngClass]="'item_musica'" full icon-right ion-item margin-vertical>M&Uacute;SICA <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='musica'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_espectaculos'" full icon-right ion-item margin-vertical>ESPECT&Aacute;CULOS <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='espectaculos'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_arte_y_literatura'" full icon-right ion-item margin-vertical>ARTE Y LITERATURA <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='arteyliteratura'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_exposiciones'" full icon-right ion-item margin-vertical>EXPOSICIONES <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='exposiciones'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_ocio'" full icon-right ion-item margin-vertical>OCIO <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='ocio'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_accion_social'" full icon-right ion-item margin-vertical>ACCI&Oacute;N SOCIAL <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='accionsocial'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_vida_universitaria'" full icon-right ion-item margin-vertical>VIDA UNIVERSITARIA <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='universidad'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card><button [ngClass]="'item_cursos_y_talleres'" full icon-right ion-item margin-vertical>CURSOS Y TALLERES <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='cursos-y-talleres'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
            <button [ngClass]="'item_charlas_y_conferencias'" full icon-right ion-item margin-vertical>CHARLAS Y CONFERENCIAS <ion-icon float-right name="ios-arrow-down"></ion-icon> </button>
            <ion-card *ngIf="categoria=='charlas-y-conferencias'">
              <ion-card-header>

              </ion-card-header>
              <ion-card-content>

              </ion-card-content>
            </ion-card>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
<ion-list>
  <ion-list-header>
    EVENTOS QUE SIGUES
  </ion-list-header>
  <ion-item-group>
    <ion-item no-lines *ngIf="listEvent.lenght==0">
        Actualmente no sigues ning&uacute;n evento
    </ion-item>
    <ion-item no-lines *ngFor="let evento of listEvent" tappable (click)="eventSelected(evento)" > 
      <p></p>
      <p [innerHTML]="evento.title"></p>
    </ion-item>
  </ion-item-group>
</ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>