<!--
  Generated template for the Calendario page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>
  <ion-navbar>
    <ion-title>
      <img src="assets/img/logofooter2.png" height="80px"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 text-center>CALENDARIO DE EVENTOS</h2>
  <div id="calendario">
    <span text-center class="calendar-header">{{viewTitle}}</span>
    <calendar *ngIf="eventSource!=[]"
              [eventSource]="eventSource" 
              [formatDayHeader]="calendar.formatDayHeader"
              [currentDate]="calendar.currentDate" 
              [markDisabled]="markDisabled"
              [noEventsLabel]= "calendar.noEventsLabel"
              [startingDayWeek] = "calendar.startingDayWeek"
              [startingDayMonth]="calendar.startingDayMonth"              
              [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onRangeChanged)="onRangeChanged($event)"
              queryMode="remote"
              >
    </calendar>
  </div>
  <template #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
  <ion-list-header>
    <button ion-button [disabled]="isToday" (click)="today()">Hoy</button>
  </ion-list-header>
        
      <ion-item-sliding #slidingitem *ngFor="let evento of selectedDate?.events "
          [ngClass]="{event_followed: isFollowedEvent(evento.id), category_followed: isFollowedCategory(evento.category_id)}">
          <ion-item tappable (click)="eventSelected(evento,evento.item)" [ngClass]="evento.category_item_style">
            <ion-thumbnail item-left>
              <img src="{{evento.image}}">
            </ion-thumbnail>
            <span class="date">
              {{evento.startTime|date:'d MMMM, y'}}
            </span>
            <span *ngIf="evento.endTime != evento.startTime" class="date">
              ~ {{evento.endTime|date:'d MMMM, y'}}
            </span>
            <h2 class="event-detail" [innerHTML]="evento.title | safe: 'html'"></h2>  
            <p>{{evento.address}}</p>        
          </ion-item>
          <!-- slide left items down here -->
          <ion-item-options side='left'>
            <button (click)='followCategory(evento.category_id)' text-left [ngClass]="evento.category_item_style">
              {{evento.category_name}}
              <ion-icon name="heart"></ion-icon>
              <span [innerHTML]="isFollowedCategory(evento.category_id) ? 'Sigues esta categoría': 'Seguir esta categoría'"></span>
            </button>
          </ion-item-options>
          <!-- slide right items down here -->
          <ion-item-options side='right'>
            <button (click)='followEvent(evento.id, evento.title, evento.startTime, evento.endTime, evento.category_id)'>
              <ion-icon name="star" col-md-4></ion-icon>
              <span col-md-8 [innerHTML]="isFollowedEvent(evento.id) ? 'Dejar de seguir este evento': 'Seguir este evento'"></span>
            </button>
          </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="selectedDate?.events.length==0">
        <div class="no-events-label">{{noEventsLabel}}</div>
      </ion-item>
    </ion-list>
  </template>

</ion-content>
