page-calendario {
    font-family: "antic-slab";

    .table-bordered{
        border: 0px !important;
    }

   .item-block{
        border-right: 4px solid #A1A1A1;
    }

    ion-item-options[side=right] button{
        background-color: #A1A1A1;
    }

    ion-item-options[side=right] span{
        display: inline-block !important;
        vertical-align: middle;
        width: 100px;
    }

    ion-item-options[side=left] span{
        display: block !important;
        width: 150px;
    }

    button{
        color: white;
    }


    ion-item-sliding .accionsocial{border-left: 4px solid color($colors, accionsocial);}
    ion-item-sliding .cine{border-left: 4px solid color($colors, cine);}
    ion-item-sliding .musica{border-left: 4px solid color($colors, musica);}
    ion-item-sliding .espectaculos{border-left: 4px solid color($colors,espectaculos);}
    ion-item-sliding .arteyliteratura{border-left: 4px solid color($colors,arteyliteratura);}
    ion-item-sliding .exposiciones{border-left: 4px solid color($colors,exposiciones);}
    ion-item-sliding .ocio{border-left: 4px solid color($colors, ocio);}
    ion-item-sliding .charlas-y-conferencias{border-left: 4px solid color($colors, charlas-y-conferencias);}
    ion-item-sliding .cursos-y-talleres{border-left: 4px solid color($colors, cursos-y-talleres);}
    ion-item-sliding .universidad{border-left: 4px solid color($colors, universidad);}

    ion-item-options button.accionsocial{background-color: color($colors, accionsocial);}
    ion-item-options button.cine{background-color: color($colors, cine);}
    ion-item-options button.musica{background-color: color($colors, musica);}
    ion-item-options button.espectaculos{background-color: color($colors,espectaculos);}
    ion-item-options button.arteyliteratura{background-color: color($colors,arteyliteratura);}
    ion-item-options button.exposiciones{background-color: color($colors,exposiciones);}
    ion-item-options button.ocio{background-color: color($colors, ocio);}
    ion-item-options button.charlas-y-conferencias{background-color: color($colors, charlas-y-conferencias);}
    ion-item-options button.cursos-y-talleres{background-color: color($colors, cursos-y-talleres);}
    ion-item-options button.universidad{background-color: color($colors, universidad);}

    .event_followed .item-block{
        border-right: 4px solid #000 !important;
    }

    .event_followed ion-item-options[side=right] button{
        background-color: #000 !important;
    }

    .event_followed ion-item-options[side=right] ion-icon, .category_followed ion-item-options[side=left] ion-icon{
        color:#FFC139;
    }

    .calendar-header{
        background-color: #666666;
        color: white;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px 0;
    }

    .calendar-footer{
        background-color: #666666;
        margin-bottom: 20px;
    }


    .table-bordered[_ngcontent-c1]    > thead[_ngcontent-c1]    > tr[_ngcontent-c1]    > th[_ngcontent-c1]{
        background-color: #666666;
        color: white;
        border: 0px !important; 
    }

    .monthview-primary-with-event{
        background-color: #666666 !important;
        color: white !important;
    }

    .monthview-disabled, .text-muted{
        background-color: #c9c9c9 !important;
        color: white !important;
    }

    .monthview-current{
        background-color: #CF3A5A !important;
    }

    .monthview-selected{
        background-color: #C51E30 !important;
    }
}