// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'antic-slab';
    src: url('../assets/fonts/antic-slab.regular.ttf') format('truetype');
}

* {
    font-family: "antic-slab";
}

ion-navbar .toolbar-background{
  background-color: black;
}

ion-title img{
  height: 40px;
  text-align: center;
}



/*tabs--------------*/
.tabs-md .tab-button[aria-selected=true]{
  color:black;
}

.ion-ios-calendario, .ion-ios-calendario-outline, .ion-md-calendario {
  content: url(../assets/img/ui/calendario.png);
  width: 48px;
}

.ion-ios-calendario[ng-reflect-is-active=true], .ion-ios-calendario-outline[ng-reflect-is-active=true],
.ion-md-calendario[ng-reflect-is-active=true] {
  content: url(../assets/img/ui/calendario-active.png);
  width: 48px;
}

.ion-ios-revista, .ion-ios-revista-outline, .ion-md-revista {
  content: url(../assets/img/ui/revista.png);
  width: 32px;
  height: 32px;
}

.ion-ios-revista[ng-reflect-is-active=true], .ion-ios-revista-outline[ng-reflect-is-active=true], .ion-md-revista[ng-reflect-is-active=true] {
  content: url(../assets/img/ui/revista-active.png);
  width: 32px;
  height: 32px;
}

.ion-ios-usuario, .ion-ios-usuario-outline, .ion-md-usuario {
  content: url(../assets/img/ui/usuario.png);
  width: 32px;
  height: 32px;
}

.ion-ios-usuario[ng-reflect-is-active=true], .ion-ios-usuario-outline[ng-reflect-is-active=true], .ion-md-usuario[ng-reflect-is-active=true] {
  content: url(../assets/img/ui/usuario-active.png);
  width: 32px;
  height: 32px;
}

.ion-ios-eventos, .ion-ios-eventos-outline, .ion-md-eventos {
  content: url(../assets/img/ui/eventos.png);
  width: 32px;
  height: 32px;
}

.ion-ios-eventos[ng-reflect-is-active=true], .ion-ios-eventos-outline[ng-reflect-is-active=true], .ion-md-eventos[ng-reflect-is-active=true] {
  content: url(../assets/img/ui/eventos-active.png);
  width: 32px;
  height: 32px;
}

.ion-ios-redes, .ion-ios-redes-outline, .ion-md-redes {
  content: url(../assets/img/ui/redes.png);
  width: 32px;
  height: 32px;
}

.ion-ios-redes[ng-reflect-is-active=true], .ion-ios-redes-outline[ng-reflect-is-active=true], .ion-md-redes[ng-reflect-is-active=true] {
  content: url(../assets/img/ui/redes-active.png);
  width: 32px;
  height: 32px;
}