<!--
  Generated template for the DetalleEvento page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>
  <ion-navbar>
    <ion-title>
      <img src="assets/img/logofooter2.png" height="80px"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p class="date">{{evento.start_date | date:'d MMMM, y' }} ~ {{evento.end_date | date:'d MMMM, y' }}</p>
  <h1 class="title" [innerHTML]="evento.title |safe: 'html'"></h1>
  <img src="{{evento.image.url}}">
  <p class="description" [innerHTML]="evento.description | removeTags | safe: 'html'"></p>
  <ion-grid>
    <ion-row>
        <ion-col col-12 col-sm *ngIf="(evento.description | removeTags: 'imagesrc')?.length>0">
          <img src="{{evento?.description | removeTags: 'imagesrc'}}">
        </ion-col>
        <ion-col col-12 col-sm>
          <section class="bggray">
            <div *ngIf="evento?.venue.venue">
              <h3>Lugar</h3>
              <p><strong>{{evento?.venue.venue}}</strong></p>
              <p><em>{{evento?.venue.address}}</em></p>
              <p><em>{{evento?.venue.city}}, {{evento?.venue.province}} {{evento?.venue.zip}} {{evento?.venue.country}}</em></p>
            </div>
            <div>
              <h3>Horario</h3>
              <p>Comienza: el {{evento.start_date | date:'d MMMM, y'}} a las {{evento.start_date | date:'HH:mm'}}</p>
              <p>Finaliza: el {{evento.end_date | date:'d MMMM, y'}} a las {{evento.end_date | date:'HH:mm'}}</p>
              <p>Precio</p>
            </div>
          </section>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
