page-detalle-evento {
    h1, h2, h3, p, button{
        font-family: "antic-slab";
    }

    ion-content .scroll-content{
        padding: 5vw 5vw 0 5vw !important;
    }

    h1.title{
        font-size: 200%;
        font-weight: normal !important;
        margin-top: 0px !important;
    }

    .description{
        text-align: justify;
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        font-size: 120%;
    }

    .bggray{
        background-color: #f2f2f2;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 5px;
    }

    .bggray p{
        margin: 0px !important;
    }

    .bggray div{
        margin-bottom: 20px;
    }

    .header_detail{
        margin-top: 30px;
        margin-bottom: 15px;
        display:block;
    }

    .category_name{
        margin-bottom:10px !important;
    }

    .follow_event{
        background: none;
        float: right;
        font-size: 22pt;
        vertical-align: top;
        margin-top: -13px;
    }

    .follow_event .event_followed, .bggray .event_followed{
        color: #FFC139;
    }

    .category_name.accionsocial{
        background-color: #9c4242;
    }
    .category_name.cine, .category_name.musica, .category_name.espectaculos, .category_name.arteyliteratura, .category_name.exposiciones, .category_name.ocio{
        background-color: #2e606b;
    }
    .category_name.charlas-y-conferencias, .category_name.cursos-y-talleres{
        background-color: #929b8a  ;
    }
    .category_name.universidad{
        background-color: #c5653f;
    }

    .category_followed.cine, .category_followed.musica, .category_followed.espectaculos, .category_followed.arteyliteratura, .category_followed.exposiciones, .category_followed.ocio{
        color: #2e606b;
    }
    .category_followed.charlas-y-conferencias, .category_followed.cursos-y-talleres{
        color: #929b8a  ;
    }
    .category_followed.universidad{
        color: #c5653f;
    }
}