page-detalle-evento {
    h1, h2, h3, p, button{
        font-family: "antic-slab";
    }

    ion-content .scroll-content{
        padding: 5vw 5vw 0 5vw !important;
    }

    h1.title{
        font-size: 200%;
        font-weight: normal !important;
        margin-top: 0px !important;
    }
    
    .title{margin-left: -56px;}

    .title-ios{
        margin-left:0px
    }
    .description{
        text-align: justify;
        hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        font-size: 120%;
    }       

    .bggray{
        background-color: #f2f2f2;
        border: 1px solid #eee;
        border-radius: 2px;
        padding: 5px;
    }

    .bggray p{
        margin: 0px !important;
    }

    .bggray div{
        margin-bottom: 20px;
    }

    .header_detail{
        margin-top: 30px;
        margin-bottom: 15px;
        display:block;
    }

    .follow_event{
        background: none;
        float: right;
        font-size: 22pt;
        vertical-align: top;
        margin-top: -13px;
    }

    .follow_event .event_followed, .bggray .event_followed{
        color: #FFC139;
    }

    .category_name.accionsocial{background-color: color($colors, accionsocial);}
    .category_name.cine{background-color: color($colors, cine);}
    .category_name.musica{background-color: color($colors, musica);}
    .category_name.espectaculos{background-color: color($colors,espectaculos);}
    .category_name.arteyliteratura{background-color: color($colors,arteyliteratura);}
    .category_name.exposiciones{background-color: color($colors,exposiciones);}
    .category_name.ocio{background-color: color($colors, ocio);}
    .category_name.charlas-y-conferencias{background-color: color($colors, charlas-y-conferencias);}
    .category_name.cursos-y-talleres{background-color: color($colors, cursos-y-talleres);}
    .category_name.universidad{background-color: color($colors, universidad);}
}